.menu___wrapper{
    background-color: white;
    position: sticky;
    top: 0;  
    max-width: 100%;
    height: 4vw;
    margin-top: 2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1000;
}

.menu___list{
    display: flex;
    flex-wrap: wrap;
    /* Линки в строчку */
}
.menu___item{
    margin-right: 5vw;
    /* Расстояние между линками в меню */
}
.menu___item:last-child{
    margin-right: 0;
    /* Убирает свободное место у последнего линка в меню */
}
.menu___link{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5vw;
    line-height: 1.51vw;
    color: rgba(10, 63, 118, 1);
    text-decoration: none;
     /* Объявление шрифта, цвета текста и отключение подсветки ссылки */
}
li {
    list-style-type: none;
    /* Убираем маркеры */
  }
.menu___link:hover, .menu___link:focus, .menu___link:active{
    opacity: .75;
    /* Линки темнеют при наведении, нажатии, TABировании */
}

.header___order:hover, .header___order:focus, .header___order:active{
    opacity: .75;
    /* Линки темнеют при наведении, нажатии, TABировании */
}



#banner{
    padding-top: 4vw;
    width: 100%;
    height: 87%;
}
